/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #333333;
}

.heading-1 {
  font-family: "Montserrat-SemiBold";
  font-size: 48px;
  color: #5e56e7;
}

.heading-2 {
  font-family: "Montserrat-SemiBold";
  font-size: 30px;
  color: #5e56e7;
}

.body-1 {
  font-family: "Montserrat-SemiBold";
  font-size: 20px;
}
