.book-card {
  max-width: 114px;
}

.image {
  width: 114px;
  height: 162px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  object-fit: cover;
}

.title {
  font-size: 12px;
  font-family: "Montserrat-SemiBold";
  margin: 4px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  text-transform: uppercase;
}

.author {
  font-size: 12px;
  font-family: "Montserrat-SemiBold";
  margin: 0;
  color: #a0a0a0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: initial;
}
