.content {
  max-width: 1024px;
  padding: 48px 48px 24px 48px;
  margin: 0 auto;
}

.navigation-icon {
  width: 24px;
  margin-right: 12px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.heading-2 {
  margin: 0;
  text-transform: capitalize;
}

.backdrop {
  background-color: #f8f7ff;
  height: calc(100vh - 173px);
  overflow-y: auto;
}

.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 24px;
  }
}
